<h1>Announcements</h1>

<%= form_for @search, :url => announcements_path, :html => {:method => :get} do |f| %>
    <%= f.label :title_contains %>
    <%= f.text_field :title_contains %>
    <%= f.label :content_contains, 'Content contains' %>
    <%= f.text_field :content_contains, :include_blank => true %>
    <%= f.submit %>
<% end %>

<table cellspacing=20>
  <tr align=left>
    <th>Author</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @announcements.each do |announcement| %>
  <tr>
    <td><%= announcement.author %></td>
    <td><%= announcement.title %></td>
    <td><%= announcement.content %></td>
    <td><%= link_to 'Show', announcement %></td>
    <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
    <td><%= link_to 'Destroy', announcement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
  <%= will_paginate @announcements %>



<br />
<%= link_to 'New Announcement', new_announcement_path %>
