<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @announcement.author %>
</p>

<p>
  <b>Title:</b>
  <%= @announcement.title %>
</p>

<p>
  <b>Content:</b>
  <%= @announcement.content %>
</p>


<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
